.boxSelect {
  position: relative;
  font-size: var(--fs-14);
  line-height: 1.2;
  background: var(--bg-5);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid var(--borderColor);
  border-radius: 4px;
}

.boxSelect label {
  position: absolute;
  top: 17px;
  left: var(--g-20);
  z-index: 1;
  background-color: inherit;
  padding: 3px;

  font-size: var(--fs-14);
  color: var(--textColor-3);
  transition: color .3s, top .3s;
  pointer-events: none;
}

.boxSelect label.active{
  top: -10px;
}

.select {
  height: 55px;
  border-radius: 8px;

  position: relative;
  background: inherit;

  display: flex;
  align-items: center;
  padding: 0 var(--g-20);
  color: var(--textColor);
  
}

.select > span {
  border-radius: inherit;

  font-size: var(--fs-14);
  pointer-events: none;
  color: var(--textColor-2);

  
}

.select .arrow{
  position: absolute;
  top: 15px;
  right: 20px;
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.select .arrow svg {
  width: 100%;
  height: 100%;
}

.arrow.active{
  transform: rotate(180deg);
}

.listOptions {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background: inherit;
  border: inherit;
  border-radius: inherit;
  z-index: 1;
  padding: var(--g-10);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  box-shadow: var(--shadow);

  color: var(--textColor-2);
  border: 1px solid var(--borderColor);
}

.listOptions li {
  padding: var(--g-10);
  cursor: pointer;
  border-radius: 4px;
  font-size: var(--fs-14);
  line-height: 1.2;
  transition: .3s;
}

.listOptions li:hover{
  background: var(--bg-3);
}

.overlaySelect {
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 960px) {
  .overlaySelect {
    visibility: visible;
    opacity: 1;
  }

  .listOptions {
    position: fixed;
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    z-index: 1000;
    overflow: auto;
    border-radius: 16px;
    padding: var(--g-20);
  }

  .listOptions li {
    font-size: var(--fs-18);
    padding: var(--g-20);
  }
}