.layout {
  min-height: 100vh;
/* 
  display: grid;
  grid-template-columns: 1fr 1fr; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--g-20);
  z-index: 1;
  background-color: var(--bgPrimary);
}

/* .box:nth-of-type(1) {
  background-image: url(/assets/images/palette.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--bgSecondary);
  border-right: 1px solid var(--borderColor);
} */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--g-20);
}

.boxTitle h1 {
  font-size: var(--fs-48);
  text-align: center;
  font-weight: 700;
  line-height: 60px;
}

.boxLoginSocial {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--g-10);
}

.boxLoginSocial a {
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  font-size: var(--fs-14);
  border: 1px solid var(--borderColor);
  outline: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--g-10);

  background: transparent;

  color: var(--textColor-2);
  font-weight: 400;

  transition: .3s;
}

.boxLoginSocial a:hover{
  background-color: var(--bgTertiary);
}

.boxLoginSocial a  svg {
  width: 24px;
  height: 24px; 
   color: #03A9F4;
}

@media (max-width: 1200px) {
  /* .layout{
    grid-template-columns: 1fr;
  } */

  .box{
    padding: var(--g-40);
  }

  /* .box:nth-of-type(1){
    display: none;
  } */

}