.containerCall {
  position: relative;
}

.boxStudents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--g-20);
}

.boxStudent {
  padding: var(--g-20);
  border-radius: 8px;
  border: 1px solid var(--borderColor);
  box-shadow: var(--shadow-2);
}

.profileStudent {
  display: flex;
  align-items: center;
  gap: var(--g-20);
}

.profileStudent p {
  font-size: var(--fs-14);
  line-height: 1.2;
}

.boxInputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--g-10);
  margin-top: var(--g-20);
  background-color: var(--bg-1);
  padding: var(--g-20);
  border-radius: 8px;
}

/* Container Info */

.containerInfo {
  margin-top: var(--g-20);
  display: flex;
  flex-direction: column;
  gap: var(--g-20);
}

.boxInfo > h2 {
  font-size: var(--fs-18);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: var(--g-10);
}

.boxResumo {
  display: flex;
  flex-direction: column;
  gap: var(--g-10);
}

.boxResumo > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--g-20);
  border-radius: 8px;
}

.boxResumo > div,
.boxFinish  {
  padding: var(--g-20);
  border-radius: 8px;
  box-shadow: var(--shadow-2);
  background-color: var(--bg-1);
}

.boxResumo > div h3,
.boxResumo > div p {
  font-size: var(--fs-14);
}

.boxResumo input {
  background: transparent;
  border: 0;
  outline: none;
  border-bottom: 1px solid var(--borderColor);
  min-width: 200px;
  padding-bottom: var(--g-10);
  color: var(--textColor-2);
  text-align: right;
}

.boxResumo input:focus {
  border-color: var(--primary);
}

@media (max-width: 1200px) {
  .boxStudents{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 960px) {
  .boxStudents{
    grid-template-columns: 1fr;
  }
}