.containerDashboard {
  display: grid;
  grid-template-columns: 1fr 450px;
  gap: var(--g-20);

  position: relative;
}

.box {
  background-color: var(--bg-1);
  border-radius: 8px;
  padding: var(--g-20);

  box-shadow: var(--shadow-2);
}

.box > h3 {
  font-size: var(--fs-18);
  font-weight: 600;
  line-height: 1.2;
}

.boxPanel {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--g-20);
}

.boxLesson {
  background-color: var(--bg-1);
}

/* Lessons */
.boxLesson {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--g-40);
  position: relative;
}

.boxLesson > p {
  color: var(--textColor);
  line-height: 1.2;
}

.slideLessons {
  display: flex;
  overflow: hidden;
  margin-top: var(--g-20);
}

.boxControl {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  gap: var(--g-10);
  padding: var(--g-20);
}

.boxControl button {
  width: 40px;
  height: 40px;
}

.lesson {
  min-width: 100%;
  transition: .3s ease-in-out;
  transform: translateX(0%);
}

.lesson .room {
  font-size: var(--fs-12);
  text-transform: uppercase;
  color: var(--primary);  
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: var(--g-5);
}

.lesson h3 {
  font-size: var(--fs-18);
  font-weight: 600;
  line-height: 1.4;
}

.lesson p {
  font-size: var(--fs-14);
  color: var(--textColor);
  line-height: 1.2;
  margin-top: var(--g-10);
}

.containerBirthDay {
  margin-top: var(--g-20);

  display: flex;
  flex-direction: column;
  gap: var(--g-20);
}

.containerBirthDay  h3{
  font-size: var(--fs-18);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: var(--g-10);
}

.boxBirthDay {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: var(--fs-14);

  padding: var(--g-10) 0;
  border-bottom: 1px solid var(--borderColor);
}

.boxBirthDay .room {
  font-size: var(--fs-10);
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 500;
  
  color: var(--textColor);
  margin-top: var(--g-5);
}

.empty {
  font-size: var(--fs-14);
  line-height: 1.2;
  text-align: center;

  background-color: var(--bgTertiary);
  padding: var(--g-20);
  border-radius: 4px;

  color: var(--textColor);
}

/* Gráfico */
.boxGraphic {
  margin-top: var(--g-20);
}

@media (max-width: 1200px) {
  .containerDashboard{
    grid-template-columns: 1fr;
  }
}