.containerCalendar {
  background-color: var(--bgSecondary);

  box-shadow: var(--shadow);
  border-radius: 8px;
  position: relative;
}

.navCalendar {
  border-bottom: 1px solid var(--borderColor);
  padding: var(--g-20);
}

.boxControls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--g-10);
}

.boxControls button {
  background: transparent;
}

.boxControls button:hover{
  background-color: var(--bg-3);
}

.boxControls span {
  font-size: var(--fs-18);
  font-weight: 600;
}

.boxCalendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--g-10);
  padding: var(--g-20);
  overflow: auto;
}

.boxDay {
  padding: var(--g-10);
  border: 1px solid var(--borderColor);
  min-width: 150px;
  height: 100px;
  border-radius: 4px;
  overflow: auto;
}

.boxDay button {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--bg-2);
  border: 0;
  outline: none ;
  color: var(--textColor);

  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
}

.boxDay:hover button {
  visibility: visible;
  opacity: 1;
}

.boxDay button svg {
  width: 18px;
  height: 18px;
}

.day, 
.week {
  font-size: var(--fs-12);
  color: var(--textColor);
}

.boxID {
  text-align: right;
  font-size: var(--fs-14);
}

.boxID p {
  color: var(--textColor);
}

.boxID p strong {
  color: var(--textColor-2);
}

.boxAulas {
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: var(--g-5);
  margin-top: var(--g-10);
}

.boxAula {
  padding: var(--g-10);
  font-size: var(--fs-12);
  justify-content: initial;
  font-weight: 500;
  cursor: pointer;
  line-height: initial;
  height: auto;
}

.boxDataAula {
  position: relative;
}

.iconDiploma {
  position: absolute;
  top: 0;
  right: 0;

  width: 50%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--primary);
  padding-right: 50px;
}

.iconDiploma svg {
  width: 150px;
  height: 150px;
  transform: rotate(25deg);
}

.dataAula{
  border: 1px solid var(--borderColor);
  padding: var(--g-20);
  border-radius: 8px;
}

.dataAula li {
  padding: var(--g-10) 0;
  font-size: var(--fs-14);
}

.dataAula li strong {
  color: var(--textColor);
}

.boxOptions {
  margin-top: var(--g-20);
  display: flex;
  align-items: center;
  gap: var(--g-10);
}

.boxOptions button,
.boxOptions a{
  width: 100%;
  flex: 1;
}

@media (max-width: 960px) {
  .iconDiploma {
    display: none;
  }

  .boxOptions {
    flex-direction: column;
  }

  .boxOptions button,
  .boxOptions a {
    justify-content: initial;
  }

}