.header {
  border-bottom: 1px solid var(--borderColor);
  padding: 0 var(--g-40);
}

.navHeader {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonNav {
  background-color: var(--bg-1);
  outline: none;
  border: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  cursor: pointer;
  transition: .3s;
  color: var(--textColor-2);
  border-radius: 4px;
}

.buttonNav:hover {
  background-color: var(--bg-3);
}

.buttonNav svg {
  width: 24px;
  height: 24px;
}

.wrapperMenu {
  position: relative;
}

.btnProfile {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.boxMenu {
  position: absolute;
  top: 45px;
  right: 0;
  width: 300px;
  background: var(--bgSecondary);
  border-radius: 16px;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  z-index: 100;
  box-shadow: var(--shadow);
}

.boxMenu.active {
  visibility: visible;
  opacity: 1;
}

.boxInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: var(--g-20);
  text-align: center;
  padding: var(--g-20);
  border-bottom: 1px solid var(--borderColor);
}

.boxInfo h3 {
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: var(--g-5);
}

.boxInfo p {
  font-size: var(--fs-12);
  line-height: 1.2;
  color: var(--textColor);
}

.boxInfo button {
  width: 100%;
  opacity: 1 !important;
}

.menuUser {
  /* border: 1px solid red; */
  padding: var(--g-20);
}

.menuUser li a {
  height: 40px;
}

.menuUser li a:hover {
  background-color: var(--bg-3);
  color: var(--textColor-2);
}

@media (max-width: 960px) {
  .header {
    padding: 0 var(--g-20);
  }
}