.containerProgress {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: var(--g-20);
  position: relative;
}

.box {
  padding: var(--g-20);
  background-color: var(--bg-1);
  border-radius: 8px;
  align-self: flex-start;
  overflow: hidden;
}

.boxNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--g-10);
  overflow: auto;
}

.boxNav  button {
  flex: 1;
  flex-direction: column;
  height: auto !important;
  padding: var(--g-20) !important;
  min-width: 180px; 
}

.boxNav  button .months {
  display: flex;
}

.boxNav  button span{
  display: inline-block;
  margin-left: var(--g-5);
  color: var(--textColor-2);
  font-size: var(--fs-10);
  font-weight: 400;
  text-transform: uppercase;
}

.boxNav button span:nth-of-type(2)::before,
.boxNav button span:nth-of-type(2)::after{
  content: '•';
}

.boxNav button span:nth-of-type(2)::before{
  margin-right: 5px;
}

.boxNav button span:nth-of-type(2)::after{
  margin-left: 5px;
}

.boxNav button.active{
  background-color: var(--bgButton-2);
}

.boxProfile{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--g-20);
  margin-bottom: var(--g-20);
}

.boxProfile h3 {
  font-weight: 600;
  line-height: 1.2;
}

.boxAproveitamento {
  margin-top: var(--g-20);
  border: 1px solid var(--borderColor);
  border-radius: 8px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.aproveitamento{
  padding: var(--g-20);

}

.aproveitamento h3 {
  font-size: var(--fs-10);
  line-height: 1.2;
  color: var(--textColor);
  text-transform: uppercase;
}

.aproveitamento p{
  line-height: 1.2;
  font-weight: 600;
  margin-top: var(--g-5);
}

.aproveitamento:nth-of-type(1),
.aproveitamento:nth-of-type(4) {
  grid-column: 1 / -1;
  border-bottom: 1px solid var(--borderColor);
}

.aproveitamento:nth-of-type(4){
  border-top: 1px solid var(--borderColor);
}

.aproveitamento:nth-of-type(2), 
.aproveitamento:nth-of-type(5){
  border-right: 1px solid var(--borderColor);
}

@media (max-width: 1200px) {
  .containerProgress {
    grid-template-columns: 1fr;
  }
}