.formStudent {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: var(--g-20);
  position: relative;
}

.box {
  background-color: var(--bgPrimary);
  border-radius: 8px;
  padding: var(--g-40);
  border: 1px solid var(--borderColor); 
  align-self: flex-start;
  box-shadow: var(--shadow-2);
}

.form {
  max-width: initial !important;
}

.form label,
.form input {
  background-color: var(--bgPrimary) !important;
}

.boxProfile {
  display: flex;
  flex-direction: column;
  gap: var(--g-20);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.boxProfile h3 {
  font-size: var(--fs-18);
  font-weight: 600;
  line-height: 1.2;
}

@media (max-width: 1200px) {
  .formStudent{
    grid-template-columns: 1fr;
  }

  .box{
    padding-left: var(--g-20);
    padding-right: var(--g-20);
  }
}