.containerSettings {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: var(--g-20);
}

.aside,
.boxContent {
  border: 1px solid var(--borderColor);
  border-radius: 8px;
  padding: var(--g-20);
  align-self: flex-start;
}

.boxContent {
  background-color: var(--bgSecondary);
  padding: var(--g-40);
}

.boxTitle {
  margin-bottom: var(--g-40);
}

.boxTitle p {
  font-size: var(--fs-14);
  line-height: 1.2;
  color: var(--textColor);
  margin-top: var(--g-5);
}

.menu {
  display: flex;
  flex-direction: column;
  gap: var(--g-5);
}

.menu li a.active,
.menu li a:hover {
  color: var(--textColor-2);
}

.menu li a.active {
  background-color: var(--bg-1);
}

.boxForm .form {
  max-width: initial;
}



/* Perfil */
.boxProfile {
  margin-bottom: var(--g-20);
}

.alert {
  font-size: var(--fs-14);
  margin-top: var(--g-5);
  line-height: 1.2;
  margin-left: var(--g-20);
  color: var(--textColor);
}

/* Password */


/* Appearance */

.optionsColor {
  display: flex;
  gap: var(--g-40);
  text-align: center;
  flex-wrap: wrap;
}

.optionsColor span {
  min-width: 28px;
  min-height: 28px;
  width: 28px;
  height: 28px;
  margin: 0 auto;
  border-radius: 8px;
  transition: .2s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
}

.optionsColor p {
  font-size: var(--fs-14);
}

@media (max-width: 960px) {
  .containerSettings {
    grid-template-columns: 1fr;
  }

  .menu {
    flex-direction: initial;
  }

  .menu li {
    flex: 1;
  }

  .menu li a {
    justify-content: center;
  }

  .menu li a span:nth-of-type(2) {
    display: none;
  }

  .boxContent{
    padding: var(--g-20);
  }

  .optionsColor {
    /* justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 1fr;
  }



}